<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
    
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav.ejs') %>

    <!-- Header -->
    <%- include('./partials/header.ejs') %>
  
    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="detalle-container">
        <h2> Sobre nosotros </h2>
        <div class="text">
            <p class="ps-justify">
            Sal y Pimienta es un restaurant de Contemporary American Cuisine. El primer Restaurant fue inaugurado en Junio de 1999 en San Isidro.

            Nuestra visión es aportar alimentos de calidad en un ambiente placentero a través de un servicio excelente.
            
            En Sal y Pimienta creemos que la base para preparar un buen plato se encuentra en la calidad de los ingredientes que lo componen. Por eso, mantenemos una relación estrecha con nuestros proveedores para asegurarnos de recibir los mejores productos frescos disponibles en el mercado. Con la ayuda de éstos, preparamos, diariamente y con el mayor cuidado, los platos que servimos.
            
            En Sal y Pimienta consideramos que la música, la arquitectura y la decoración son componentes esenciales de la experiencia gastronómica. Fundimos todos estos elementos para crear un ambience placentero que exalte las sensaciones del paladar. Cada uno de nuestros locales tiene su propio carácter: en su construcción se ha prestado especial atención a los materiales utilizados y al diseño de sus espacios interiores.
            
            En Sal y Pimienta estamos deseosos de satisfacer la confianza que los clientes nos depositan. Procuramos prestar atención a los más pequeños detalles para lograr un servicio rápido y eficiente que supere todas las expectativas.
            
            Esperamos verlos pronto, disfrutando de “la nueva experiencia”.
            </p>
        </div>
    </div>     

      <!-- Footer -->
      <%- include ("./partials/footer.ejs") %>
    </div>
  </body>
</html>
