

<!DOCTYPE html>
<html>
  <%- include ('./partials/head.ejs') %>
  <body>
  
    <!-- Header -->
    <%- include('./partials/header.ejs') %>

    <!-- Page content -->
    <div class="ps-content">
        <img src ="/images/not-found.jpg"  alt="not-found" width="1200" height="800"> 
    </div>

      <hr />
      <%- include("./partials/header.ejs") %>

      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
